.header_div {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    position: relative;
}
.header_content {
    margin-left: 10px; 
}
.header_div .logopurple{
    width: 220px;
    height: 220px;
    position: absolute;
   left: 860px;
    
}
.header_content span{
    font-size: 80px;
 color:rgb(188, 82, 241);
} 
.header_content h3{
    margin-right: 110px;
    color:rgb(91, 6, 134);
   
}
.section_middle  .hmspic{
    width: 800px;
    height: 800px;
}

.list-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item li {
    margin-bottom: 10px;
}

.list-item a.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 43px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    line-height: 2.2; 
}

.list-item a.btn i {
    margin-right: 20px;
    
}

/* Superadmin Login */
.list-item li:nth-child(1) a.btn {
    background-color: #3498db;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Admin Login */
.list-item li:nth-child(2) a.btn {
    background-color: #2ecc71;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Doctor Login */
.list-item li:nth-child(3) a.btn {
    background-color: #e74c3c;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Accountant Login */
.list-item li:nth-child(4) a.btn {
    background-color: #f39c12;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Receptionist Login */
.list-item li:nth-child(5) a.btn {
    background-color: #9b59b6;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Pharmacist Login */
.list-item li:nth-child(6) a.btn {
    background-color: #34495e;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Pathologist Login */
.list-item li:nth-child(7) a.btn {
    background-color: #1abc9c;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Radiologist Login */
.list-item li:nth-child(8) a.btn {
    background-color: #d35400;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Patient Login */
.list-item li:nth-child(9) a.btn {
    background-color: #c0392b;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}

/* Front Login */
.list-item li:nth-child(10) a.btn {
    background-color: #27ae60;
    color: #fff;
    width: 540px;
    height: 79px;
    font-size: 27px;
}


